<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>encryptionkey</key>
	<string>-somekey-</string>
	<key>cacheDirectoryName</key>
	<string>MediaCache</string>
	<key>databaseName</key>
	<string>dbName.sqlite</string>
	<key>databaseResourceName</key>
	<string>dbName</string>
	<key>developmentServerBaseUrl</key>
	<string></string>
	<key>productionServerBaseUrl</key>
	<string></string>
	<key>downloadDirectoryName</key>
	<string>AppDownloads</string>
</dict>
</plist>
