<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>IO_CoreData_Helper.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>IO_IOS_Helpers.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>IO_Left_Menu.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DE4FF71E1C63A655004CD87A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DE4FF7271C63A655004CD87A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DE4FF7401C63B687004CD87A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DE4FF7491C63B688004CD87A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DEE928311C629EB000326DAC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DEE9283B1C629EB000326DAC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
